## Kaggle Titanic Competition

In [1]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier

# Github data links
gender_url = 'https://raw.githubusercontent.com/BrodySpearman/Kaggle-Titanic/main/data/gender_submission.csv'
train_url = 'https://raw.githubusercontent.com/BrodySpearman/Kaggle-Titanic/main/data/train.csv'
test_url = 'https://raw.githubusercontent.com/BrodySpearman/Kaggle-Titanic/main/data/test.csv'

gender_df = pd.read_csv(gender_url)
train_df = pd.read_csv(train_url)
test_df = pd.read_csv(test_url)

Showing sample data.

In [2]:
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
test_df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

Analysis

In [4]:
# Finding amount of female survivors

women = train_df.loc[train_df.Sex == 'female']['Survived']
w_survival = sum(women)/ len(women)

print(f'Female survival rate: {round(w_survival * 100, 3)}%')

Female survival rate: 74.204%

In [5]:
# Finding amount of male survivors

men = train_df.loc[train_df.Sex == 'male']['Survived']
m_survival = sum(men)/ len(men)

print(f'Male survival rate: {round(m_survival * 100, 3)}%')

Male survival rate: 18.891%

In [7]:
# Testing data Using random forest Classification

y = train_df['Survived']

features = ['Pclass', 'Sex', 'SibSp']
X = pd.get_dummies(train_df[features])
X_test = pd.get_dummies(test_df[features])

model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X, y)
predictions = model.predict(X_test)

output = pd.DataFrame({'PassengerId': test_df.PassengerId, 'Survived': predictions})
output.to_csv('submission.csv', index=False)
print('Your submission was successfully saved!')

Your submission was successfully saved!